body{
    background-color: #c0bca8;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;

}


input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

/* Apply font size to the text area */
#textArea {
    font-size: 16px; /* Initial font size */
  }